
    
    <div class="text-danger">@ViewBag.otpsuccessmsg</div>
    <form method="POST">
    <div class=form-group>
    To send OTP click here. 
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Send Email</button>
    </div>
    </form>